body {
    background-color: rgb(82, 82, 82);
}

.shadowSlide {
    box-shadow: 2px 2px 18px black;
}
.Contact{
    margin-top:10px;
}
h2{
    text-align: center;
    font-size: 65px;
    text-decoration: underline;
    color: white;
}
.search_nav{
    background-color: rgb(124, 124, 124);
    height: 110px;
}
#Contact{
    margin-top: 50px;
}
.kindoffilm{
    margin-bottom: 3px;
}
.filmdistributor{
    margin-bottom: 10px;
}
.historique{
    margin-top: 10px;
}